@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --success: green;
    --error: red;
}

*{
    box-sizing: border-box; /*For leveling the margin & padding throughout the page*/
}

body{
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Poppins', sans-serif;
    display: flex; /*Allows to divide the content vertically & horizontally*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 20px 40px;
}

.form-control {
    margin-bottom:10px;
    padding-bottom: 10px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #777;
}
 /*Pseudo Selector*/
.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: var(--success);
}

.form-control.error input {
    border-color: var(--error);
}

.form-control small {
    position: absolute;
    color: var(--error);
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: navy;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}